/*/////// GLOBAL STYLE SETTINGS-----------------------------////////*/

/*//// FONTS ////*/

@font-face {
    font-family: 'Sofia Pro';
    src: url(../resources/sofiapro-light.woff);
}

@font-face {
    font-family: 'Sofia Pro';
    src: url(../resources/sofiapro-medium-webfont.woff2);
    font-weight: bold;
}

/*/// Headings ///*/

h1 {
    font-size: 3rem;
    margin: 20px 0px;
}

h2 {
    font-size: 2.25rem;
    margin: 20px 0px;
}

h3 {
    font-size: 1.5rem;
    margin: 20px 0px;
}

h4 {
    font-size: 1.125rem;
    margin: 20px 0px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 20px 0px;
}

.green-highlight {
    color: var(--Mint);
}

/*/// Paragraphs ///*/

p {
    font-size: 1rem;
    margin: 10px 0px;
}

p strong {
    font-weight: bold;
}

p em {
    color: var(--Mint);
}

/*//// Links ////*/

a {
    text-decoration: none;
    color: var(--Navy);
    font-size: 1rem;
}

/*//// Buttons ////*/

button {
    font-family: 'Sofia Pro';
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
    padding: 12px 30px;
    margin: 10px 0px;
    color: var(--White);
    background-color: var(--Mint);
    border: none;
    box-shadow: 3px 4px 0px 1px var(--Moss);
}

button:hover {
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 4px;
}

/*//// COLOURS ////*/

:root {
    --White: #fff;
    --Cloud: #F6F6F6;
    --Fog: #E2E2E2;
    --Steel: #999;
    --Mint: #33DBA9;
    --Moss: #38A887;
    --Navy: #3A4764;
  }

  .dark {
    background-color: var(--Navy);
    color: var(--White);
  }

  .dark a {
    color: var(--White);
  }

  .grey {
    background-color: var(--Cloud);
  }

  .dgrey {
    background-color: var(--Fog);
  }

  /*//// BODY STYLES ////*/

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    font-family: 'Sofia Pro';
    font-size: 16px;
    color: var(--Navy);
    background-color: var(--White);
  }

  .section-content {
    height: 100%;
    padding: 5% 10%;
  }

  .fw-section-content {
    height: 100%;
    padding: 5% 0%;
  }

  /*///// MAILERLITE FORMS ////*/

  .ml-form-embedContainer input, .ml-form-embedContainer button, .ml-form-successContent {
    font-family: 'Sofia Pro' !important;
  }

  .ml-form-embedContainer button {
    box-shadow: 3px 4px 0px 1px var(--Moss) !important;
    padding: 12px 30px !important;
  }

  .ml-form-embedContainer button:hover {
        box-shadow: none !important;
        position: relative;
        left: 3px;
        top: 4px;
  }

  .ml-form-embedBody {
    padding-left: 0px !important;
  }

/*/////// HEADER--------------------------------///////*/

/*//// Layout ////*/

#mobile-menu {
    display: none;
}

header {
    position: sticky;
    top: 0px;
    height: 12vh;
    max-height: 100px;
    display: flex;
    align-items: stretch;
    padding: 0% 5%;
    z-index: 999;
}

#logo-container {
    width: auto;
    display: flex;
    align-items: center;
}

#logo {
    height: 40px;
}

#header-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-nav {
    flex-basis: 70%;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
}

.nav-list-item {
    display: block;
    width: auto;
    padding: auto;
    margin: auto 2.5%;
}

#header-button {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

#social-links {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding:  0px;
}

#social-links li {
    margin: 0px 10px;
}

.social-link {
    height: 20px;
}

#header-nav, #header-button, #social-links {
    width: auto;
    margin: 0px;
}

/*//// Styling ////*/

header {
    border-bottom: solid 1px var(--Fog);
    background-color: var(--White);
}

.nav-list-item a {
    font-weight: bold;
    color: var(--Steel);
    transition: color 0.3s ease;
}

.nav-list-item a:hover {
    color: var(--Navy);
}

/*//////// FOOTER----------------------------///////*/

#footer-content {
    padding: 5% 10% 2.5% 10%;
    height: 100%;
}

footer .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletter-wrapper {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links-wrapper {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .col:nth-child(3) {
    flex-basis: 40%;
}

footer .col a {
    margin: 7.5px 0px;
}

#divider {
    background-color: var(--White);
    height: 1px;
    margin: 5% 0% 1% 0%;
}

#sub-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-social-links {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    width: 7.5%;
    justify-content: space-between;
}

/*/////// ON PAGE---------------------------------///////*/

/*///// HOME-----------------/////*/

/*/// Banner Section ///*/

#home-banner {
    height: auto;
}

#home-banner .section-content {
    display: flex;
    align-content: stretch;
}

#banner-text-container, #banner-image-container {
    flex-basis: 50%;
}

#banner-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 7.5% 7.5% 7.5% 0%;
}

#banner-image-container {
    padding: 5% 0% 5% 7.5%;
}

#banner-image {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: url(../resources/turbineimageone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*//// About Section ////*/

#home-about #section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-about #triple-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.5%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}

.col img {
    height: 40px;
}

/*//// Card Section ////*/

.image-card {
    border-radius: 10px;
    border: solid 1px var(--Fog);
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reverse {
    flex-direction: row-reverse;
}

.image-card img {
    width: 40%;
    border-radius: 10px;
}

.image-card .text-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image-card:nth-child(2) {
    margin-top: 5%;
}

/*//// Testimonials ////*/

#testimonials .fw-section-content {
    overflow-x: hidden;
}

#track {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 300vw;
    position: relative;
    transition: all 1s ease;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 0% 1.5%;
}

.item p {
    text-align: center;
}

.testimonial-hs {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

#paul-img {
    background-image: url('../resources/paulhs.jpg');
}

#samuel-img {
    background-image: url('../resources/samuelhs.jpg');
}

#richard-img {
    background-image: url('../resources/richardhs.jpg');
}

#lena-img {
    background-image: url('../resources/lenahs.jpg');
}

#emily-img {
    background-image: url('../resources/emilyhs.jpg');
    background-size: 150%;
    background-position: 40%;
}

#testimonial-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.testimonial-nav-button {
    margin: 0 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--Steel)
}

.active {
    background-color: var(--Mint);
}

/*//// Services ////*/

#home-services .section-content {
    position: relative;
}

#home-services .section-background {
    background-image: url(../resources/backgroundicons.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 40%;
    height: 30%;
    left: 30%;
    top: 0;
}

#home-services .section-title {
    text-align: center;
    padding: 0% 20%;
}

#home-services #double-col {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 5%;
}

#home-services .col {
    background-color: var(--Navy);
    color: var(--White);
    border-radius: 20px;
    flex-basis: 45%;
    padding: 3%;
}

/*//// Call to Action ////*/

#call-to-a {
    position: relative;
}

#call-to-a .section-background {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../resources/turbineimagetwo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 75%;
    filter: brightness(70%);
}

#call-to-a .section-content {
    position: relative;
    z-index: 2;
}

#call-to-a .content-wrapper {
    width: 50%;
}

/*///// SERVICES-----------------/////*/

/*//// Banner Section ////*/

#services-banner .section-content {
    display: flex;
    align-items: stretch;
}

#services-banner .content-wrapper {
    width: 50%;
    padding: 7.5% 0% 7.5% 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services-banner .image-wrapper {
    width: 50%;
    padding: 5% 7.5% 5% 0%;
}

#services-banner .banner-image {
    height: 100%;
    width: 100%;
    background-image: url("../resources/turbineimagethree.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

/*//// Press Section ////*/

#featured-in .section-content {
    display: flex;
    padding: 2.5% 10%;
}

#featured-in .section-title {
    display: flex;
    align-items: center;
    width: 25%;
}

#featured-in .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.press-logo {
    width: 25%;
    display: flex;
    justify-content: center;
}

.press-logo img {
    height: 25px;
}


/*//// Services Main ////*/

#services-main {
    position: relative;
}

#services-main .section-background {
    position: absolute;
    background-image: url('../resources/backgroundicons.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 50%;
    height: 100px;
    left: 25%;
}
 
#services-main .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-main .section-title {
    text-align: center;
    width: 50%;
}

#services-main .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
}

#services-main .col {
    padding: 5%;
    border-radius: 25px;
    width: 30%;
}

#services-main .col ul {
    padding-left: 20px;
}


#services-main .col li {
    margin-bottom: 5%; 
}

/*//// Six Steps ////*/

#six-steps .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

#six-steps .content-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    column-gap: 10%;
}

#six-steps .card {
    margin-top: 10%;
}

#six-steps .content-wrapper img {
    height: 50px;
}

/*//// FAQS ////*/

#faqs .section-content {
    display: flex;
    justify-content: space-between;
}

#faqs .section-title {
    width: 30%;
}

#faqs .content-wrapper {
    width: 60%;
}

#faq-wrapper {
    border-radius: 25px;
    border: solid 1px var(--Fog);
}

.question {
    border-bottom: solid 1px var(--Fog);
    padding: 1% 2.5%;
}

.question:last-child {
    border-bottom: none;
}

.question-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-icon {
    height: 10px;
    width: 30px;
    background-image: url('../resources/dropdownicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform 0.25s ease;
}

.answer {
    overflow: hidden;
    height: 0px;
    transition: height 0.25s ease;
}

.open {
    height: 80px !important;
}

/*///// CONTACT-----------------/////*/

/*//// Contact Section ////*/

#contact-section .section-content {
    display: flex;
    justify-content: space-between;
}

#contact-section .content-wrapper {
    flex-basis: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#contact-socials {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    gap: 5%;
}

#form-wrapper {
    flex-basis: 60%;
    padding: 5%;
}

#form-top-line {
    display: flex;
    justify-content: space-between;
}

#name {
    width: 35%;
}

#email {
    width: 60%
}

.form-field {
    width: 100%;
    margin: 2.5% 0%;
    font-family: 'Sofia Pro';
    font-size: 1rem;
    background-color: var(--Cloud);
    color: var(--Navy);
    border: none;
    border-radius: 25px;
    padding: 2%;
}

.form-field:focus {
    border: none;
    outline: none;
}

.submit-button {
    font-family: 'Sofia Pro';
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
    padding: 12px 30px;
    margin: 10px 0px;
    color: var(--White);
    background-color: var(--Mint);
    border: none;
    box-shadow: 3px 4px 0px 1px var(--Moss);
}

.submit-button:hover {
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 4px;
}

/*////  Consultations ////*/

#book-a-consultation .section-content {
    padding: 2.5% 10%;
}

#book-a-consultation .content-wrapper {
    display: flex;
    justify-content: space-between;
}

